

.overall-background {
  /*background: #34495e;*/
  /*background: url('../img/zwartevilt.png') repeat;*/
}


.status-bar-default {
  background: #2980b9;
  opacity: 0.7;
}


/* Player / Dash Stats Grid */

.stat-grid-number {
  text-align: center;
  line-height: 40px;

  font-size: 18px;
}

.stat-grid-number {
  /*background: #fefefe;*/
}



/* Splash Screen */

.splash-surface-default {
  font-size: 36px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;

  line-height: 70px;

  color: white;


  text-align: center;
}


/* Landing Page */

.landing-page-bg-default {
  background: url('../img/landing.png') no-repeat;
  /*background: url('https://dl.dropboxusercontent.com/u/6673634/landingWelcome4%402x.png') no-repeat;*/
  background-size: cover;
}

.landing-page-logo-tagline {
  text-align: center;
}

.landing-page-logo-tagline img {
  width: 50%;
}

.landing-page-logo-tagline-text {
  font-size: 44px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;

  line-height: 70px;

  color: white;


  text-align: center;
}


.landing-title-bg-gradient {
  
}

.landing-signup-button {
  color: white;
  padding: 8px 8px;
  text-align: center;
}

.landing-signup-button > div {
  display: inline-block;
  background: #2980b9;
  padding: 14px 8px;
  width: 80%;

  white-space: nowrap;
  overflow: hidden;
}

.landing-login-button {
  text-align: center;
  padding: 16px 8px 8px 8px;
  color: white;
}

.landing-login-button span {
  font-weight: bold;
}

.header-landing-page-text {
  color: red;
  text-align: left;
  line-height: 60px;

  white-space: nowrap;
  /*overflow: hidden;*/

}





/* welcome ! */

.welcome-page-default {
  /*background: white;*/
  text-align: center;
  color: #333;
}

.welcome-page-default > div:nth-child(1){
  font-size: 20px;
  line-height: 30px;
}

.welcome-page-default > div:nth-child(2){
  font-size: 14px;
  line-height: 20px;
}

.welcome-page-default > div:nth-child(3){
  /*font-weight: bold;*/
  font-size: 72px;
  line-height: 80px;
  /*font-family: 'Kaushan Script', cursive;*/
}

.welcome-page-default > div:nth-child(4) {
  font-size: 26px;
  line-height: 50px;
}

.welcome-page-username-default {
  text-align: center;
  color: #333;
  line-height: 30px;
  font-size: 18px;
}



/* Settings */

.settings-list-item {
  /*color: white;*/
  line-height: 32px;
  font-size: 24px;
  padding: 20px 8px 8px 8px;
  /*border-bottom: 1px solid #ddd;*/
  /*background-color: white;*/
  /*background: rgba(255,255,255,0.2);*/
}

.settings-list-item i {
  padding: 0 0 0 8px;
  display: inline-block;
  width: 24px;
}

.settings-list-item > div:last-child {
  font-size: 14px;
}
.settings-list-item > div:first-child {
  font-size: 18px;
}






/* Waiting list */

.waiting-list-top-default {
  text-align: center;

  font-size: 28px;
  line-height: 200px;

}

.waiting-list-position-default {
  text-align: center;
  line-height: 80px;
  font-size: 64px;
}


/* Messages */

.message-text-default {
  padding: 4px 8px;
}

.message-text-default span[data-replace-model="Profile"]{
  font-weight: bold;
}

.message-text-default span.ago {
  color: #999;
}

.message-text-default div.message-other-person {
  font-size: 11px;
}




/* Seraching Usernames / Users */

.user-search-list-item-default {
  line-height: 44px;
  background: white;

  padding: 0px 8px;

  border-bottom: 1px dashed #ddd;
}

.user-search-list-item-default > div:nth-child(1) {
  font-size: 18px;
  line-height: 20px;
  color: #333;

  padding-top: 10px;
}

.user-search-list-item-default > div:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}



/* Explore */

.explore-surface-temp {

}

.explore-surface-temp > div:not(:last-child) {
  font-size: 28px;
  /*color: #888;*/
}
.explore-surface-temp > div:last-child {
  font-size: 14px;
  /*color: #888;*/
}


/* News / Actions */

.news-surface-temp {

}

.news-surface-temp > div {
  font-size: 28px;
  color: #888;
}

/* Actions Tabbar */

.actions-news-tabbar-default {
  /*border-top: 2px solid #444;*/
  border-bottom: 1px solid #ddd;
  background: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #182030;

  text-transform: uppercase;
}
.actions-news-tabbar-default.on {
  color: #339bcb;
}

/* action items */

.action-news-item-default {
  line-height: 20px;
  padding: 10px;
  border-bottom: 1px dashed #ddd;
}

.action-news-item-default span[data-replace-model="Player"] {
  font-weight: bold;
  color: #182030;
}

.action-news-item-default span[data-replace-model="Sport"] {
  font-weight: bold;
  color: #900CE8;
}

.action-news-item-default span.datetime {
  color: #888;
}




/* Inbox */

.inbox-tabbar-default {
  /*border-top: 2px solid #444;*/
  border-bottom: 1px solid #ddd;
  background: white;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  color: #444;

  text-transform: uppercase;
}
.inbox-tabbar-default.on {
  color: #339bcb;
}
.inbox-tabbar-default i {
  font-size: 32px;
}

.inbox-tabbar-default div {
  font-size: 12px;
}





/* Friend / Contact adding list */

/* Matched Sentence Friends */

.contact-list-item-default {
  line-height: 44px;
  background: white;

  padding: 0px 8px;

  border-bottom: 1px dashed #ddd;
}

.contact-list-item-default > div:nth-child(1) {
  font-size: 36px;
  line-height: 36px;
  color: #333;

  padding-top: 10px;
}

.contact-list-item-default > div:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  color: #333;
  padding-left: 4px;
}


























