body {
  color: red;
  /*background: blue;*/
}


.inAppBrowserWrap {
  /*background-color: rgba(0,0,0,0.75);*/
  background: blue;
  /*color: rgba(235,235,235,1.0);*/
  color: white;
}

.inAppBrowserWrap a {
  color: white;
}
.inAppBrowserWrap menu {
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.inAppBrowserWrap menu li {
  font-size: 25px;
  height: 25px;
  float: left;
  margin: 0 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #ccc;
  display: block;
  background: rgba(30,30,30,0.50);
  color: yellow;
}
.inAppBrowserWrap menu li.disabled {
  color: green;
    color: #777;
}